/*
 *Declaración de varaibles de fuentes
 */
/*
 *INICIO DE ESTILOS DE LAS CLASES GENERALES DE HTML
 */
html,
body {
  font-family: 'Open Sans', sans-serif;
}
body {
  background: #181818 !important;
}
div {
  position: relative;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4 {
  color: #A0A0A0 !important;
}
h1 {
  margin-bottom: 15px;
  font-size: 20px !important;
}
h3 {
  margin-bottom: 20px !important;
}
form {
  margin-bottom: 20px;
}
/*
 *FIN DE ESTILOS DE LAS CLASES GENERALES DE HTML
 *
 *INCIO DE CLASES MULTIPLES Y VARIABLES REPETITIVAS
 */
.nopad {
  padding: 0 !important;
}
.disabled {
  display: none;
}
.invisible {
  opacity: 0;
}
.on {
  display: block;
}
.center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}
.center-fix {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
.have-icon-left {
  padding-left: 30px;
  position: relative;
}
.have-icon-left i {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.preview-show {
  color: #FFF;
  top: 18%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}
.loading-iframe {
  width: 300px;
  height: 80px;
  bottom: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  z-index: -1;
}
.loading-iframe i {
  top: 20px;
  position: relative;
  color: #FFF;
}
.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.before-after-fixed:after,
.before-after-fixed:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.animation-all {
  transition: all 2s ease-in-out 0s;
}
.animation-height {
  transition: height 0.6s ease-in-out 0s;
}
/*
 *FIN DE CLASES MULTIPLES Y VARIABLES REPETITIVAS
 *
 *INCIO DE ESTILOS DE CSS
 */
.navbar {
  background: #000;
  opacity: 0.6;
  border-radius: 0;
  margin-bottom: 0;
  padding: 10px 0;
}
.bck-home:after,
.bck-home:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.bck-home:after {
  opacity: 0.7;
  z-index: -1;
}
.bck-home:before {
  background: url('http://lorempixel.com/900/600/fashion') no-repeat;
  background-size: cover;
  z-index: -2;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
#search {
  height: 50px;
  font-size: 20px;
  font-weight: lighter;
}
.form-group .icon-search {
  right: 10px;
  opacity: 0.7;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.msg p {
  padding: 10px;
  background: #1ED760;
  color: #FFF;
  border-radius: 5px;
  padding-left: 30px;
  position: relative;
}
.msg p i {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.msg p i {
  font-size: 24px;
  left: 5px;
}
.song {
  margin-bottom: 40px;
  color: #A0A0A0;
}
.song .view {
  text-align: center;
}
.song .view b,
.song .view em {
  display: block;
}
.song .view img,
.song .view iframe {
  margin: 0 29px 0 0;
}
.song .info {
  margin-buttom: 40px;
}
.song .info ul {
  margin-bottom: 20px;
}
.song .info ul li {
  position: relative;
  padding: 15px 0;
  text-align: center;
}
.song .info ul li i {
  display: block;
}
.song .info ul li a {
  color: #A0A0A0;
}
.share {
  margin-bottom: 10px;
  text-align: center;
}
.share a {
  color: #9E9E9E;
  display: inline-block;
  border-radius: 20px;
  padding: 5px 0;
  width: 160px;
  background: #202020;
  border: 1px #9E9E9E solid;
  text-align: center;
  margin: 0 0 15px 0;
}
.share a i {
  font-size: 24px;
  vertical-align: middle;
  margin-right: 5px;
}
.share a:hover {
  color: #FFF;
  background: #282828;
}
.list {
  color: #9E9E9E;
}
.list.inputSearch {
  transition: height 0.6s ease-in-out 0s;
  overflow: hidden;
  height: 0;
}
.list.inputSearch li {
  position: relative;
  padding: 10px 0 10px 60px;
  min-height: 50px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 5px;
}
.list.inputSearch li img {
  max-width: 45px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.list.inputSearch li h4 {
  margin: 0 0 5px;
  font-family: 'Oswald', sans-serif;
}
.list.inputSearch li:hover {
  background: #282828;
}
.list.inputSearch.expand {
  height: 400px;
}
.list.top {
  text-align: center;
}
.list.top li {
  max-width: 205px;
  padding: 0 10px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}
.list.top li img {
  width: 100%;
}
.list.top li h4,
.list.top li em {
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
}
.list.top li:hover:before {
  content: "";
  position: absolute;
  width: 185px;
  height: 185px;
  background: #000;
  top: 0;
  opacity: 0.7;
}
.box-login {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}
.box-login:after,
.box-login:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.box-login:after {
  opacity: 0.6;
  z-index: -1;
}
.box-login:before {
  z-index: -2;
  background: #000 url('http://lorempixel.com/900/600/nightlife') no-repeat;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.box-login div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  text-align: center;
}
.box-login div p {
  color: #FFF !important;
}
.box-login div p.title-login {
  font-size: 32px;
  font-weight: bold;
}
.box-login div i {
  display: block;
  margin-bottom: 20px;
}
.box-login div button {
  border-radius: 50px;
  padding: 5px 50px;
  border: 1px #FFF solid;
  background: #2EBD59;
}
.info-click {
  text-align: center;
  margin: 10px 0;
}
.info-click a {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 25px;
  background: #282828;
  border: 1px #FFF solid;
  color: #FFF;
}
.info-click a i {
  font-size: 18px;
  margin-right: 10px;
}
.info-click a:hover {
  background: #1ED760;
}
/*
 *FIN DE ESTILOS DE CSS
 *
 *INCIO DE MEDIA QUERY Y DISEÑO RESPONSIVE
 */
@media screen and (min-width: 992px) {
  h1 {
    font-size: 36px !important;
  }
  .share {
    text-align: left;
  }
  .share a {
    margin-right: 10px;
  }
  .box-login div p.title-login {
    font-size: 42px;
  }
}
@media screen and (min-width: 768px) {
  .song .info ul li {
    text-align: left;
    padding-left: 30px;
    position: relative;
  }
  .song .info ul li i {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
  }
  .song .info ul li i {
    left: -5px;
  }
  .info-click {
    display: none;
  }
}
