/*
 *INICIO DE ESTILOS DE LAS CLASES GENERALES DE HTML
 */
body {
  background: #181818 !important;
}
div {
  position: relative;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4 {
  color: #A0A0A0 !important;
}
h1 {
  margin-bottom: 15px;
}
form {
  margin-bottom: 20px;
}
/*
 *FIN DE ESTILOS DE LAS CLASES GENERALES DE HTML
 *
 *INCIO DE CLASES MULTIPLES Y VARIABLES REPETITIVAS
 */
.nopad {
  padding: 0 !important;
}
.disabled {
  display: none;
}
.on {
  display: block;
}
.center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}
.have-icon-left {
  padding-left: 25px;
  position: relative;
}
.have-icon-left i {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
/*
 *FIN DE CLASES MULTIPLES Y VARIABLES REPETITIVAS
 *
 *INCIO DE ESTILOS DE CSS
 */
#search {
  height: 50px;
  font-size: 20px;
  font-weight: lighter;
}
.form-group i {
  right: 10px;
  opacity: 0.7;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.song {
  margin-bottom: 40px;
  color: #A0A0A0;
}
.song .view {
  text-align: center;
}
.song .view b,
.song .view em {
  display: block;
}
.song .info p {
  font-size: 18px;
  padding-left: 25px;
  position: relative;
}
.song .info p i {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.song .info p i {
  color: #FFF;
}
.song .info li {
  margin-bottom: 7px;
}
.song .info li a {
  color: #A0A0A0;
}
.song .info li:hover a {
  color: #FFF;
}
.share {
  height: 40px;
  margin-bottom: 10px;
}
.share a {
  color: #9E9E9E;
  display: block;
  border-radius: 20px;
  padding: 5px 20px;
  background: #202020;
  border: 1px #9E9E9E solid;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}
.share a i {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
}
.share a:hover {
  color: #FFF;
  background: #282828;
}
.list {
  color: #9E9E9E;
}
.list.inputSearch li {
  position: relative;
  padding: 10px 0 10px 60px;
  min-height: 50px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 5px;
}
.list.inputSearch li img {
  max-width: 45px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.list.inputSearch li h4 {
  margin: 0 0 5px;
}
.list.inputSearch li:hover {
  background: #282828;
}
.list.top {
  text-align: center;
}
.list.top li {
  max-width: 205px;
  padding: 0 10px;
  display: inline-block;
}
.list.top li img {
  width: 100%;
}
/*
 *FIN DE ESTILOS DE CSS
 *
 *INCIO DE MEDIA QUERY Y DISEÑO RESPONSIVE
 */
