@font-family: 'Open Sans', helvetica, arial, sans-serif;
/*
 *INICIO DE ESTILOS DE LAS CLASES GENERALES DE HTML
 */
html,body{

}
body{
    background: #181818 !important;
}
div{
    position: relative;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    &:hover{ text-decoration: none !important; }
}
h1,h2,h3,h4{ color: #A0A0A0 !important; }
h1{
    margin-bottom: 15px;
    font-size: 20px !important;
}
h3{
  margin-bottom: 20px !important;  
}
form{
    margin-bottom: 20px;
}
/*
 *FIN DE ESTILOS DE LAS CLASES GENERALES DE HTML
 *
 *INCIO DE CLASES MULTIPLES Y VARIABLES REPETITIVAS
 */
@color-facebook: #355089;
@color-twitter: #1DA1F2;
@color-google: #FF3D00;
.nopad{ padding: 0 !important; }
.disabled{ display: none; }
.on{ display: block; }
.center-y{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.center-x{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}
.center-fix{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
}
.have-icon-left{
    padding-left: 30px;
    position: relative;
    i{
        position: absolute;
        left: 0;
        .center-y;
    }
}
.preview-show{
    //color: #1ED760;
    color: #FFF;
    top: 18%;
    .center-x;
}
.fuck{
    width: 300px;
    height: 80px;
    bottom: 5px;
    .center-x;
    z-index: -1;
    i{
        top: 20px;
        position: relative;
        color: #FFF;
    }
}
.blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
/*
 *FIN DE CLASES MULTIPLES Y VARIABLES REPETITIVAS
 *
 *INCIO DE ESTILOS DE CSS
 */
.navbar{
    background: #000;
    opacity: 0.6;
    border-radius: 0;
    margin-bottom: 0;
    padding: 10px 0;
}
.bck-home{
    &:after{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.7;
        z-index: -1;
    }
    &:before{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: url('http://lorempixel.com/900/600/fashion') no-repeat;
        background-size: cover;
        z-index: -2;
        .blur;
    }
    
}
#search{
    height: 50px;
    font-size: 20px;
    font-weight: lighter;
}
.form-group{
    .icon-search{
        right: 10px;
        opacity: 0.7;
        font-size: 24px;
        .center-y;
    }
}
.msg p{
    padding: 10px;
    background: #1ED760;
    color: #FFF;
    border-radius: 5px;
    position: relative;
    .have-icon-left;
    i{
        font-size: 24px;
        left: 5px;
    }
}
.song{
    margin-bottom: 40px;
    color: #A0A0A0;
    .view{
        text-align: center;
        //max-width: 300px;
        b,em{
            display: block;
        }
        img,iframe{
            margin: 0 29px 0 0;
        }
    }
    .info{
        margin-buttom: 40px;
        ul{
            margin-bottom: 20px;
            li{
                position: relative;
                padding: 15px 0;
                text-align: center;
                i{
                    //left: -5px;
                    display: block;
                }
                a{ color: #A0A0A0; }
            }   
        }
    }
}
.share{
    margin-bottom: 10px;
    text-align: center;
    a{
        color: #9E9E9E;
        display: inline-block;
        border-radius: 20px;
        padding: 5px 0;
        width: 160px;
        background: #202020;
        border: 1px #9E9E9E solid;
        text-align: center;
        margin: 0 0 15px 0;
        i{
            font-size: 24px;
            vertical-align: middle;
            margin-right: 5px;
        }
        &:hover{
            color: #FFF;
            background: #282828;
        }
    }
}
.list{
    color: #9E9E9E;
    &.inputSearch{
        li{
            position: relative;
            padding: 10px 0 10px 60px;
            min-height: 50px;
            margin-bottom: 15px;
            cursor: pointer;
            border-radius: 5px;
            img{
                max-width: 45px;
                position: absolute;
                left: 10px;
                top: 10px;
            }
            h4{ margin: 0 0 5px; }
            &:hover{
                background: #282828;
            }
        }
    }
    &.top{
        text-align: center;
        li{
            max-width: 205px;
            padding: 0 10px;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 10px;
            cursor: pointer;
            position: relative;
            img{
                width: 100%;
            }
            &:hover{
                &:before{
                    content: "";
                    position: absolute;
                    width: 185px;
                    height: 185px;
                    background: #000;
                    top: 0;
                    opacity: 0.7;
                }
            }
        }
    }
}
.box-login{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    &:after, &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
    }
    &:after{
        opacity: 0.6;
        z-index: -1;
    }
    &:before{
        z-index: -2;
        background: #000 url('http://lorempixel.com/900/600/nightlife') no-repeat;
        background-size: cover;
        .blur;
    }
    div{
        h2,p{
            color: #FFF !important;
        }
        .center-fix;
        text-align: center;
        button{
            border-radius: 50px;
            padding: 5px 50px;
            border: 1px #FFF solid;
            background: #282828;
            &.one{
                background: #2EBD59;
            }
            &:last-of-type{
                display: block;
            }
            &:hover{
                border-color: #FFF;
            }
        }
    }
}
.info-click{
    text-align: center;
    margin: 10px 0;
    a{
       display: inline-block;
       padding: 5px 20px;
       border-radius: 25px;
       background: #282828;
       border: 1px #FFF solid;
       color: #FFF;
       i{
            font-size: 18px;
            margin-right: 10px;
       }
       &:hover{
            background: #1ED760;
       }
    }
}
/*
 *FIN DE ESTILOS DE CSS
 *
 *INCIO DE MEDIA QUERY Y DISEÑO RESPONSIVE
 */
@media screen and (min-width: 992px){
    h1{ font-size: 36px !important; }
    .share{
        text-align: left;
        a{
            margin-right: 10px;
        }
    }
}
@media screen and (min-width: 768px){
    .song{
        .info ul li{
             text-align: left;
            .have-icon-left;
            i{
                left: -5px;
            }
        }
    }
    .info-click{ display: none; }
}